* {
    box-sizing: border-box;
}

.main_container {
    border: 1px solid darkgray;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    padding: 15px;
}

.block_search {
    background-color: #f8f8f8;
    border: none;
    border-radius: 20px;
    width: 100%;
    background-image: url("../icons/Search.svg");
    background-repeat: no-repeat;
    background-position: 20px;
    background-size: 25px;
    padding: 15px 20px 15px 65px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #8A8A8A;
    display: block;
}

.container_items {

}

.item {
    width: 100%;
    background-image: url("../icons/Project.svg");
    background-repeat: no-repeat;
    background-position: 25px;
    background-size: 25px;
    padding-left: 70px;
    margin-top: 30px;
    display: block;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
/ color: #5d5e60;
}

.text_title {

    font-family: 'Arial', sans-serif;
    font-size: 22px;
    padding-left: 20px;
}

.item:hover {
    background-image: url("../icons/Project.svg"), url("../icons/Check.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 25px, right 20px center;
    background-size: 25px, 25px;

}


